# KNN
  KNN method is simplest methods in machine learning and is very simple to understand and implement,this method has wide applications in many domains such as recommendation systems,anamaly detection.
  KNN is used for both classification as well as Regression.
  
  STEPS:
  1.Compute a distance value between the iten to be classified and every  iten in the training dataset
  
  2.Pick k closest datapoints 
  
  3.Conduct a majority botes among those datapoints ,the dominating classification in tht pool is decided as the final classification

In [12]:
#importing libraries
import numpy as np
import pandas as pd

In [13]:
data=pd.read_csv("iris2.csv",names=["a","b","c","d","Label"])

In [14]:
data.head()#first 5 entries

     a    b    c    d        Label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [15]:
data.tail()#last 5

       a    b    c    d           Label
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [16]:
data.isnull().sum()#checking th  null values

a        0
b        0
c        0
d        0
Label    0
dtype: int64

In [17]:
features=data.iloc[:,:-1].values  #all rows and all columns except last column
labels=data.iloc[:,-1].values#all rows of last column

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(features,labels,test_size=0.1)

In [19]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()

In [20]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [21]:
pred=knn.predict(x_test)

In [28]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(knn.predict(x_train),y_train) #training accuracy

0.9629629629629629

In [29]:
accuracy_score(pred,y_test)  #testing accuracy

1.0

In [30]:
classification_report(pred,y_test)#gives report about precision,recall,accuracy

'                 precision    recall  f1-score   support\n\n    Iris-setosa       1.00      1.00      1.00         7\nIris-versicolor       1.00      1.00      1.00         4\n Iris-virginica       1.00      1.00      1.00         4\n\n       accuracy                           1.00        15\n      macro avg       1.00      1.00      1.00        15\n   weighted avg       1.00      1.00      1.00        15\n'